body {
   background-color: #F6CED8;
   color: black;
}

h1 {
   font-family: fantasy;
}

input {
   height: 100px;
   width: 100px;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 5px;
   margin-right: 5px;
}

#game-btn-group {
   text-align: center;
}

#game-status-display {
   font-family: fantasy;
   font-size: 18pt;
   height: 50px;
   width: 400px;
   margin-top: 50px;
   margin-bottom: 10px;
   text-align: center;
   border: none;
   background: #F6CED8;
}

#green-btn {
   background-color: green;
   opacity: 0.5;
   border-radius: 25px;
}

#green-btn:active {
   opacity: 1;
}

#red-btn {
   background-color: red;
   opacity: 0.5;
   border-radius: 25px;
}

#red-btn:active {
   opacity: 1;
}

#yellow-btn {
   background-color: yellow;
   opacity: 0.5;
   border-radius: 25px;
}

#yellow-btn:active {
   opacity: 1;
}

#blue-btn {
   background-color: blue;
   opacity: 0.5;
   border-radius: 25px;
}

#blue-btn:active {
   opacity: 1;
}

#strict-mode-btn {
   margin-top: 20px;
   height: 20px;
   width: 20px;
   vertical-align: bottom;
}

#reset-btn {
   height: 50px;
   width: 150px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background: #F6CED8;
   text-align: center;
   color: black;
   padding: 15px 5px 15px 10px;
}

#footer a {
	color: black;
	font-size: 32px;
	padding: 20px;
}   