body {
   background-color: white;
   color: black;
}

input {
   height: 100px;
   width: 100px;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 5px;
   margin-right: 5px;
}

#game-btn-group {
   text-align: center;
}

#game-status-display {
   height: 50px;
   width: 210px;
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
}

#green-btn {
   background-color: green;
   opacity: 0.5;
}

#green-btn:active {
   opacity: 1;
}

#red-btn {
   background-color: red;
   opacity: 0.5;
}

#red-btn:active {
   opacity: 1;
}

#yellow-btn {
   background-color: yellow;
   opacity: 0.5;
}

#yellow-btn:active {
   opacity: 1;
}

#blue-btn {
   background-color: blue;
   opacity: 0.5;
}

#blue-btn:active {
   opacity: 1;
}

#strict-mode {
   border-style: solid;
   width: 150px;
   text-align: center;
   margin-top: 25px;
   margin-left: 40%;
   margin-right: 40%;
}

#strict-mode-btn {
   height: 50px;
   width: 50px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background: white;
   text-align: center;
   color: black;
   padding: 15px 5px 15px 10px;
}

#footer a {
	color: black;
	font-size: 32px;
	padding: 20px;
}   